
__pycache__/gender_blade.cpython-311.pyc
__pycache__/gender_blade.cpython-312.pyc
__pycache__/gender_instrument.cpython-312.pyc
__pycache__/gender_leaf.cpython-312.pyc
__pycache__/gender_blade.cpython-310.pyc
__pycache__/common.cpython-312.pyc
/__pycache__
/__pycache__
